.demoForm {
	width: 300px;
	margin: auto
}

.width100 {
	width: 98%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: none;
	border-bottom: 1px solid black;
}
.button100 {
	margin: 8px 0;
	width: 98%;
}
	
@media (min-width: 500px) {
	.demoForm {
			width: 500px;
			left: calc(50% - 250px);
	}
}