.Todo {
    width: 16rem; 
    margin: 10px 10px;
    padding: 10px 10px;
}

.Todo-Progress{
    background-color: rgb(177, 225, 239)
}


.Todo-Todo{
    background-color: rgb(244, 185, 232)
}


.Todo-Done{
    background-color: rgb(145, 248, 176)
}

.Todo-Description {
    white-space: pre-wrap;
}
